<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.mapper.EmployeeMapper">

    <select id="selectEmployees" resultType="Employee">
        select * from employee
    </select>

    <insert id="addEmployee" parameterType="Employee">
        INSERT INTO employee(id, name) VALUES (#{id}, #{name})
    </insert>
</mapper>